<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
     &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:ananna314.bd@gmail.com"><img src="/assets/img/emails.png" alt="email" style="width: 35px; height: 30px;"></a>
     &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://scholar.google.com/citations?user=GIcIBdgAAAAJ&hl=en"><img src="/assets/img/gscholar.jpg" alt="gscholar" style="width: 35px; height: 30px;"></a>
      <div class="footer-description">made by <a href="https://anannabiswas.github.io/">Ananna </a> using <a href="https://github.com/LeNPaul/academic" target="blank"> Paul Le</a></div>

    </div>
  </div>
</footer>
