---
layout: default

---

<div class="row g-5 mb-5">

  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Preprints</h3>
   

    <p><b>Ananna Biswas</b>, Hongyu An, 
     <a href="https://arxiv.org/abs/2407.17756" target="_blank">"Preliminary Results of Neuromorphic Controller Design and a Parkinson's Disease Dataset Building for Closed-Loop Deep Brain Stimulation".</a> ICCA-2022. Presented in <a href ="https://iconsneuromorphic.cc/schedule/" target="_blank">ICONS 2024.</a></p>
     </p>
 


 
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
   

    <p><b>Ananna Biswas</b>, Fazla Rabbi Mashrur, Khandoker Mahmudur Rahman,Mohammad Tohidul Islam Miya, Farhana Sarker, Khondaker A. Mamun, 
     <a href="/assets/paper/icca.pdf" target="_blank">"An Overview of Neuromarketing Research in Developing Countries: Prospects and Challenges".</a> ICCA-2022. Published in <a href ="https://dl.acm.org/doi/abs/10.1145/3542954.3542977" target="_blank">ACM.</a></p>
     </p>
 
    
    <p><b>Ananna Biswas</b>, Zabir Al Nazi, Tasnim Azad Abir,
     <a href ="/assets/paper/eict.pdf" target="_blank">"Invasive Ductal Carcinoma Detection by A Gated Recurrent Unit Network with Self Attention".</a> EICT-2019. Published in <a href = "https://ieeexplore.ieee.org/abstract/document/9068841" target="_blank"> IEEE. </a> </p>
     </p>
  
  
    <p>Zabir Al Nazi, <b>Ananna Biswas </b>, Md. Abu Rayhan, Tasnim Azad Abir,
       <a href ="/assets/paper/iccit.pdf" target="_blank">"Classification of ECG signals by dot Residual LSTM Network with Data Augmentation for Anomaly Detection".</a> ICCIT-2019. Published in <a href = "https://ieeexplore.ieee.org/document/9038287" target="_blank"> IEEE. </a></p>
     </p>


</div>
    </div>
 </div>
