<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
     

     <p style="color:blue">Ananna Biswas, Fazla Rabbi Mashrur, Khandoker Mahmudur Rahman,Mohammad Tohidul Islam Miya, Farhana Sarker, Khondaker A. Mamun, 
     <a style="color:blue" href="/assets/paper/icca.pdf" target="_blank">"An Overview of Neuromarketing Research in Developing Countries: Prospects and Challenges".</a> ICCA-2022. Indexed in <a href ="https://dl.acm.org/doi/abs/10.1145/3542954.3542977" target="_blank">ACM</a></p>
     </p>
 
  
  
    
     <p style="color:blue">Ananna Biswas, Zabir Al Nazi, Tasnim Azad Abir,
     <a href ="/assets/paper/eict.pdf">"Invasive Ductal Carcinoma Detection by A Gated Recurrent Unit Network with Self Attention".</a> EICT-2019. Indexed in <a href = "https://ieeexplore.ieee.org/abstract/document/9068841" target="_blank"> IEEE </a> </p>
     </p>
  
  
  <div>
  
     <p>Zabir Al Nazi, Ananna Biswas, Md. Abu Rayhan, Tasnim Azad Abir,
       <a href ="/assets/paper/iccit.pdf" style="color:blue">"Classification of ECG signals by dot Residual LSTM Network with Data Augmentation for Anomaly Detection".</a> ICCIT-2019. Indexed in <a href = "https://ieeexplore.ieee.org/document/9038287" target="_blank"> IEEE </a></p>
     </p>
  </div>
</div>
 </div>
