<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <!-- {% if page.title == "Ananna Biswas" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %} -->
  </div>

  <div>
     <p><a href ="https://dl.acm.org/doi/abs/10.1145/3542954.3542977" target="_blank">ACM</a> &nbsp; &nbsp; &nbsp;<a href ="/assets/paper/icca.pdf" target="_blank">An Overview of Neuromarketing Research in Developing Countries: Prospects and Challenges.</a> </p>
     </p>
  </div>
  
  <div>
    
     <p><a href = "https://ieeexplore.ieee.org/abstract/document/9068841" target="_blank"> IEEE </a> &nbsp; &nbsp; &nbsp;<a href ="/assets/paper/eict.pdf" target="_blank"> Invasive Ductal Carcinoma Detection by A Gated Recurrent Unit Network with Self Attention.</a></p>
     </p>
  </div>
  
  <div>
  
     <p><a href = "https://ieeexplore.ieee.org/document/9038287" target="_blank"> IEEE </a> &nbsp; &nbsp; &nbsp;<a href ="/assets/paper/eict.pdf" target="_blank">Classification of ECG signals by dot Residual LSTM Network with Data Augmentation for Anomaly Detection.</a></p>
     </p>
  </div>
</div>
