---
layout: default
---

<div class="row g-0 mb-5">
  <div class="col-md-8">
    <h3 class="fw-bold">Ananna Biswas</h3>
    <p>
    {{ content }}
     </p>
  </div>
  <div class="col-md-4 pt-5">
    <p>
      <img src="{{ site.github.url }}/assets/img/ananna_1.jpeg" alt="Home" width="250" height="310"style="float:right">
   </p>
     <footer class="text-center" style="color: gray;">  Research Engineer </br>
      &nbsp; &nbsp; Email: <a href="mailto:ananna314.bd@gmail.com">ananna314.bd@gmail.com</a>
    </footer>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h4 class="fw-bold border-bottom pb-3 mb-5">Research Interest and Hobbies:</h4>
    <P><b>Statistics:</b> Descriptive Analysis, Pearson Correlation </p>
    <p><b> Machine Learning:</b> Supervised Learning, Semi-supervised Learning, Unsupervised learning, Reinforcement Learning, SVM,CNN, RNN, GRU, LSTM </p>
    <p><b> Signal Processing:</b> EEG, ECG, PCA, ICA</p>
    <p><b>Computational Neuroscience:</b> Dynamical Systems, Stochastic Process,Computatinal modelling </p>
    <p><b>Computer Vision:</b> Biomedical image processing </p>
   
 <p>
 Apart from doing and thinking about research, I spend my leisure time by writing diaries, reading books (mostly non-fiction), raising indoor plants and solving rubik's cube(classic 3X3).
 I love to draw and listen classical music. I have a habit of continuous learning. In fact, I try to learn different types of musical instruments. At present, I am learning to play the flute.
 Above all, I am a homesick person though I enjoy outing and travelling with my close friends and family members. 
 </p>
      
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    <!--{% for post in site.posts %}
      <p>{{ post.date | date: "%B %-d, %Y" }} - <a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> </p>
    {% endfor %} -->
      <p> August 14, 2022-  &nbsp;An Overview of Neuromarketing Research in Developing Countries&nbsp;<a href= "https://dl.acm.org/doi/abs/10.1145/3542954.3542977">[New Paper]!!!</a></p>
      <p> August 11, 2022-  &nbsp;Website Live !!! </p>
      <p> July   29, 2022-  &nbsp; &nbsp; &nbsp;&nbsp;Completed <a href= "https://portal.neuromatchacademy.org/certificate/e809b048-67e3-437e-9afa-aa23664965f1">NMA Computational Neuroscience Course 2022</a>!!! </p>
      <p> May     5, 2022-  &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;Participated <a href= "/assets/certificate/gtec.pdf">BCI & Neurotechnology Spring School 2022</a>!!!</p>
  </div>
</div>
