---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-8">
    <h3 class="fw-bold">Ananna Biswas</h3>
    <p>
    {{ content }}
     </p>
  </div>
  <div class="col-md-4 pt-5">
    <p>
     <!--<img src="{{ site.github.url }}/assets/img/ananna_1.jpeg" alt="Home" width="250" height="310"style="float:right"> --->
     <img src="{{ site.github.url }}/assets/img/ana.jpeg" alt="Home" width="280" height="390"style="float:right">
   </p>
     
    <p style="float:right">    
       Email: <a href="mailto:ananna314.bd@gmail.com">ananna314.bd@gmail.com</a>
    </p>
     
  </div>
</div>

 <div class="row g-5 mb-2">
   <div class="col-md-12">
    <h4 class="fw-bold border-bottom pb-3 mb-3">Research Interest</h4>
    <P style="color:blue">Signal Processing</p>
    <p style="color:blue"> Machine Learning, Deep Learning</p>
    <p style="color:blue">Computational Neuroscience, Statistics</p>
     <p style="color:blue">Human-Computer Interaction (HCI), Robotics </p>
     <p style="color:blue">Neural Engineering, Brain-Computer Interface (BCI) </p>
     <p style="color:blue">Computer Vision, Biomedical Image Processing </p>

  </div>
   
  <div class="row g-5 mb-2">
   <div class="col-md-12">
   <h4 class="fw-bold border-bottom pb-3 mb-3">Hobbies</h4>
   <p>
    I spend my leisure time through many different ways: writing diaries, reading books (mostly non-fiction), raising indoor plants and solving 
    rubik's cube(classic 3X3). I love to draw and listen classical music. I also try to learn different types of musical instruments. Above all, I enjoy myself when I'm with my family members and close friends. 
  </p>
   </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    <!--{% for post in site.posts %}
      <p>{{ post.date | date: "%B %-d, %Y" }} - <a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> </p>
    {% endfor %} -->
      <p> August, 2024: &nbsp; &nbsp;&nbsp; Awarded <a href= "https://www.neuropac.info/fellowships/" target="blank"> NSF AccelNet NeuroPAC Fellowship  </a>! for fall 2024 </p>
      <p> July 30, 2024: &nbsp; &nbsp;&nbsp; Presented a Poster on <a href= "https://arxiv.org/abs/2407.17756" target="blank"> Neuromorphic Deep Brain Stimulation System  </a>! </p>
      <p> April 16, 2024: &nbsp; &nbsp;&nbsp; Participated as 2024 Design Expo Judge in <a href="https://www.mtu.edu/enterprise/involved/expo/" target="blank"> Michigan Tech Design Expo </a>! </p>
      <p> March 16, 2024: &nbsp; Meeting some young scientists as a STEM JUDGE in <a href="https://www.wupstem.org/home/stemfair/" target="blank"> WUP STEP Fair & Festival </a>! </p>
      <p> May  03, 2023: &nbsp; &nbsp;&nbsp; Participated in the workshop-"Neural Recording with Polymer µElectrode Arrays" by <a href="https://piefoundry.usc.edu/index.html" target="blank"> PIE Foundry</a>! </p>
      <p> Dec  08, 2022: &nbsp; &nbsp;&nbsp; Taken IELTS Exam: Overall Score 7!!! </p>
      <p> Sep  10, 2022: &nbsp;&nbsp; &nbsp; Abstract- <a href = "https://www.reddit.com/r/neuromatch/comments/xo3w0x/ananna_biswas_exploring_the_mouse_visual_cortex/" target="blank"> Exploring the Mouse Visual Cortex</a> Accepted in <a href ="https://conference.neuromatch.io/" target="blank">neuromatch conference(NMC)</a> 2022!!!
      <p> Aug  14, 2022:  &nbsp; &nbsp;&nbsp;An Overview of Neuromarketing Research in Developing Countries&nbsp;<a href= "https://dl.acm.org/doi/abs/10.1145/3542954.3542977" target="blank">[New Paper]!!!</a></p>
      <p> Aug  11, 2022:  &nbsp; &nbsp;&nbsp;Website Live !!! </p>
      <p> July   29, 2022:  &nbsp; &nbsp; &nbsp;Completed <a href= "https://portal.neuromatchacademy.org/certificate/e809b048-67e3-437e-9afa-aa23664965f1" target="blank">NMA Computational Neuroscience Course 2022</a>!!! </p>
      <p> May    05, 2022:  &nbsp; &nbsp;&nbsp;Participated <a href= "/assets/certificate/gtec.pdf" target="blank">BCI & Neurotechnology Spring School 2022</a>!!!</p>
  </div>
</div>
